@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100;300;400;500;700;900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Vazirmatn", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  body {
    @apply bg-[#0a0a0c] selection:bg-emerald-500/30;
  }
}

.markdown-body {
  @apply text-slate-300 leading-relaxed;
}

.markdown-body h1, .markdown-body h2, .markdown-body h3 {
  @apply text-white font-bold mt-6 mb-4;
}

.markdown-body p {
  @apply mb-4;
}

.markdown-body ul {
  @apply list-disc list-inside mb-4;
}
