@import "tailwindcss";

@font-face {
  font-family: "B Nazanin";
  src: url("https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn@v33.0.0/fonts/webfonts/Vazirmatn-Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "B Nazanin";
  src: url("https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn@v33.0.0/fonts/webfonts/Vazirmatn-Bold.woff2")
    format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "B Titr";
  src: url("https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn@v33.0.0/fonts/webfonts/Vazirmatn-Black.woff2")
    format("woff2");
  font-weight: bold;
  font-style: normal;
}

@theme {
  --font-sans: "Vazirmatn", "B Nazanin", system-ui, sans-serif;
}

@layer utilities {
  .animate-gradient {
    background-size: 200% auto;
    animation: gradient 3s linear infinite;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
